.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding: 0;
    gap: 20px;
  }
}
