.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 413px;
  position: relative;
}

.card__image {
  border-radius: 8px;
  object-fit: cover;
  display: block;
  max-width: 413px;
  height: 413px;
  transition: 0.3s ease;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.95;
}

.card__image:focus-visible {
  box-shadow: 0 0 0 3px rgba(0, 123, 244, 0.5);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  max-width: 353px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  background: url(../images/like.svg) no-repeat center;
  transition: 0.3s ease;
  background-size: contain;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background: url(../images/like_active.svg) no-repeat center;
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete_hover.svg);
}

@media screen and (max-width: 627px) {
  .card {
    margin: 0;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
    height: 18px;
  }

  .card__image {
    height: 288px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding: 0;
    gap: 20px;
  }
}
