.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: url("../images/close.jpg") no-repeat center;
  background-size: 24px 24px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
}

.modal__close-btn_type_preview:hover {
  opacity: 1;
}

.modal__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 630px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #21212166;
  font-size: 20px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__submit-btn {
  max-width: 156px;
  background-color: #212121;
  border-radius: 8px;
  color: #fcf5e5;
  height: 52px;
  cursor: pointer;
  opacity: 1;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 22px 12px 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__close-btn {
    top: 5px;
    right: 12px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
  .modal__input {
    width: 100%;
    padding: 18px 32px;
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
}
