.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.profile__description {
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__edit-button {
  background-color: transparent;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  gap: 8px;
  display: flex;
  margin-top: auto;
  padding: 0 8px 0 0;
  color: #212121;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  width: 157px;
  height: 52px;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto 0 auto;
  }

  .profile__avatar {
    margin: 0 0 12px 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 20px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 32px;
  }

  .profile__add-button {
    width: 100%;
    margin: 0;
  }
  .profile__edit-button {
    margin: 0 auto;
  }
}
